{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<h1>{{ question.question_text }}</h1>

<form action="{% url 'polls:vote' question.id %}" method="post">
  {% csrf_token %}
  {% for choice in question.choice_set.all %}
    <label>
      <input type="radio" name="choice" value="{{ choice.id }}">
      <!--        {{ choice.choice_text }} -->
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    </label><br>
  {% endfor %}
  <button type="submit">Vote</button>
</form>
<p>
  <a href="{% url 'polls:results' question.id %}">See results for this poll</a> |
  <a href="{% url 'polls:stats' %}">View overall statistics</a>
</p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
